@{
    ViewData["Title"] = "Aqui se Proyectara las lista que podra visualizar el usuario (informe del alumno) etc, el administrador podra visualizar todo y el usuario no podra acceder a colegio y a privacy.";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
