@{
    ViewBag.Title = "Contacto";
}

<h2>𝐂𝐨𝐧𝐭𝐚𝐜𝐭𝐨</h2>

<form class="contact-form">
    <div class="info-details">
        <div class="form-group">
            <label for="inputEmail">𝐂𝐨𝐫𝐫𝐞𝐨 𝐞𝐥𝐞𝐜𝐭𝐫ó𝐧𝐢𝐜𝐨:</label>
            <p>christian.zenteno.m@gmail.com</p>
            <p>Yagamesa123@gmail.com</p>
        </div>
        <div class="form-group">
            <label for="inputPhone">𝐓𝐞𝐥é𝐟𝐨𝐧𝐨:</label>
            <p>+591 77652395</p>
            <p>+591 77013637</p>
        </div>
        <div class="form-group">
            <label for="inputGitHub">𝐆𝐢𝐭𝐇𝐮𝐛:</label>
            <p>https://github.com/christianzm</p>
            <p>https://github.com/Yagamesa</p>
        </div>
        <div class="form-group">
            <label for="inputSocial">𝐥𝐢𝐧𝐤𝐞𝐝𝐢𝐧:</label>
            <p>https://www.linkedin.com/in/christian-zenteno-maximo-390960249/</p>
        </div>
    </div>
    <div class="info-box">
        <img src="/css/images/imagen8.jpg" alt="Image 8">
    </div>
</form>

<style>
    .contact-form {
        display: flex;
        align-items: center; /* Align items vertically */
    }
    .info-details {
        flex: 1; /* Take up remaining space */
    }

    .info-box {
        margin-left: 20px; /* Adjust the margin as needed */
    }
    .form-group {
        margin-bottom: 10px; /* Adjust spacing between items */
    }
    /* Optional: Adjust image size */
    .info-box img {
        max-width: 100%; /* Ensure the image doesn't exceed its container width */
        height: auto; /* Maintain aspect ratio */
    }
</style>
