<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Instituto </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap1.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/mvcProyectoWeb.styles.css" asp-append-version="true" /> *@

    <style>
    .navbar-nav .nav-item .nav-link:hover {
        background-color: #007bff; 
        color: #fff; 
    }
    .navbar-nav .nav-item {
        border-radius: 10px; 
        overflow: hidden; 
    }      
</style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">𝐈𝐄𝐒 𝐆𝐫𝐞𝐠𝐨𝐫𝐢 𝐌𝐚𝐢𝐚𝐧𝐬</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>|</li>
                        <li class="nav-item">
                            <a class="nav-link text-zinc-700 font-semibold px-4 py-2 rounded hover:bg-zinc-400 transition-colors" asp-area="" asp-controller="Home" asp-action="Index">𝐇𝐎𝐌𝐄</a>
                        </li>
                        <li>|</li>
                        @* <li class="nav-item">
                            <a class="nav-link text-zinc-700 font-semibold px-4 py-2 rounded hover:bg-zinc-400 transition-colors" asp-area="Admin" asp-controller="Instituto" asp-action="index">Colegio</a>
                        </li>
                        <li>|</li> *@
                        <li class="nav-item">
                            <a class="nav-link text-zinc-700 font-semibold px-4 py-2 rounded hover:bg-zinc-400 transition-colors" asp-area="Admin" asp-controller="Registro" asp-action="Index">𝐀𝐋𝐔𝐌𝐍𝐎</a>
                        </li>
                        <li>|</li>
                        <li class="nav-item">
                            <a class="nav-link text-zinc-700 font-semibold px-4 py-2 rounded hover:bg-zinc-400 transition-colors" asp-area="Admin" asp-controller="Materias" asp-action="Index">𝐌𝐀𝐓𝐄𝐑𝐈𝐀𝐒</a>
                        </li>
                        <li>|</li>
                        <li class="nav-item">
                            <a class="nav-link text-zinc-700 font-semibold px-4 py-2 rounded hover:bg-zinc-400 transition-colors" asp-area="Admin" asp-controller="Usuarios" asp-action="index">𝐏𝐑𝐈𝐕𝐀𝐂𝐘</a>
                        </li>
                        <li>|</li> 
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - IES Gregori Maians Inc. - <a asp-area="Admin" asp-controller="Usuarios" asp-action="Contacto">𝐂𝐨𝐧𝐭𝐚𝐜𝐭𝐚𝐧𝐨𝐬</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!--Js plugins-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.0/js/dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/3.2.1/jquery.serializejson.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>


    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
